## Desafio AceleraDEV Semana 3

In [48]:
import json
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [7]:
data = pd.read_csv('desafio1.csv')
aux= pd.DataFrame({'colunas': data.columns,'tipos':data.dtypes, 'NA#': data.isna().sum(),'NA%':data.isna().sum()/data.shape[0]})
aux

                                           colunas    tipos  NA#  NA%
RowNumber                                RowNumber    int64    0  0.0
id                                              id   object    0  0.0
sobrenome                                sobrenome   object    0  0.0
pontuacao_credito                pontuacao_credito    int64    0  0.0
estado_residencia                estado_residencia   object    0  0.0
genero                                      genero   object    0  0.0
idade                                        idade    int64    0  0.0
nivel_estabilidade              nivel_estabilidade    int64    0  0.0
saldo_conta                            saldo_conta  float64    0  0.0
numero_produtos                    numero_produtos    int64    0  0.0
possui_cartao_de_credito  possui_cartao_de_credito    int64    0  0.0
membro_ativo                          membro_ativo    int64    0  0.0

In [79]:
filtro = ['estado_residencia', 'pontuacao_credito']
df = data[filtro]
df.rename(columns={'estado_residencia':'estado','pontuacao_credito':'ponto' },inplace=True)
df['estado'].unique()

final = dict()

for i in df['estado'].unique():
    r = df[df['estado']== i]['ponto']
    moda = r.mode()
    mediana = r.median()
    media = r.mean()
    std = r.std()
    final[i] = {"moda":float(moda), "mediana":float(mediana), "media":float(media), "desvio_padrao": float(std)}
final

{'SC': {'moda': 850.0,
  'mediana': 653.0,
  'media': 649.5376527422563,
  'desvio_padrao': 97.233492793433},
 'RS': {'moda': 850.0,
  'mediana': 650.0,
  'media': 651.1051428571428,
  'desvio_padrao': 95.13659841383574},
 'PR': {'moda': 850.0,
  'mediana': 650.0,
  'media': 648.9612940496822,
  'desvio_padrao': 98.60718591309758}}

In [67]:
r = df.groupby('estado').aggregate({'ponto':['median','mean','std',pd.Series.mode]})
r.reset_index()
r = r.reset_index()

{('estado', ''): {0: 'PR', 1: 'RS', 2: 'SC'},
 ('ponto', 'median'): {0: 650, 1: 650, 2: 653},
 ('ponto', 'mean'): {0: 648.9612940496822,
  1: 651.1051428571428,
  2: 649.5376527422563},
 ('ponto', 'std'): {0: 98.60718591309755,
  1: 95.1365984138358,
  2: 97.23349279343314},
 ('ponto', 'mode'): {0: 850, 1: 850, 2: 850}}

In [83]:
with open('submission.json','w') as f:
    json.dump(final,f)