# Desafio 4

Neste desafio, vamos praticar um pouco sobre testes de hipóteses. Utilizaremos o _data set_ [2016 Olympics in Rio de Janeiro](https://www.kaggle.com/rio2016/olympic-games/), que contém dados sobre os atletas das Olimpíadas de 2016 no Rio de Janeiro.

Esse _data set_ conta com informações gerais sobre 11538 atletas como nome, nacionalidade, altura, peso e esporte praticado. Estaremos especialmente interessados nas variáveis numéricas altura (`height`) e peso (`weight`). As análises feitas aqui são parte de uma Análise Exploratória de Dados (EDA).

> Obs.: Por favor, não modifique o nome das funções de resposta.

## _Setup_ geral

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import scipy.stats as sct
import seaborn as sns

In [2]:
athletes = pd.read_csv("athletes.csv")

In [3]:
def get_sample(df, col_name, n=100, seed=42):
    """Get a sample from a column of a dataframe.
    
    It drops any numpy.nan entries before sampling. The sampling
    is performed without replacement.
    
    Example of numpydoc for those who haven't seen yet.
    
    Parameters
    ----------
    df : pandas.DataFrame
        Source dataframe.
    col_name : str
        Name of the column to be sampled.
    n : int
        Sample size. Default is 100.
    seed : int
        Random seed. Default is 42.
    
    Returns
    -------
    pandas.Series
        Sample of size n from dataframe's column.
    """
    np.random.seed(seed)
    
    random_idx = np.random.choice(df[col_name].dropna().index, size=n, replace=False)
    
    return df.loc[random_idx, col_name]

## Inicia sua análise a partir daqui

In [4]:
# Sua análise começa aqui.
#Dados do dataset

aux_dic = {'colunas': athletes.columns, 'datatype': athletes.dtypes, "#NA": athletes.isna().sum(), "%NA":athletes.isna().sum()/athletes.shape[0]}

aux = pd.DataFrame(aux_dic)
aux

                 colunas datatype  #NA       %NA
id                    id    int64    0  0.000000
name                name   object    0  0.000000
nationality  nationality   object    0  0.000000
sex                  sex   object    0  0.000000
dob                  dob   object    1  0.000087
height            height  float64  330  0.028601
weight            weight  float64  659  0.057116
sport              sport   object    0  0.000000
gold                gold    int64    0  0.000000
silver            silver    int64    0  0.000000
bronze            bronze    int64    0  0.000000

In [5]:
paises = pd.read_csv('events.csv',encoding='latin')
paises.head(5)

,id,sport,discipline,name,sex,venues
0,701492,aquatics,backstroke,Women's 100m Backstroke,female,Olympic Aquatics Stadium
1,305278,aquatics,backstroke,Women's 200m Backstroke,female,Olympic Aquatics Stadium
2,708010,aquatics,backstroke,Men's 100m Backstroke,male,Olympic Aquatics Stadium
3,729643,aquatics,backstroke,Men's 200m Backstroke,male,Olympic Aquatics Stadium
4,567019,aquatics,breaststroke,Women's 100m Breaststroke,female,Olympic Aquatics Stadium

## Questão 1

Considerando uma amostra de tamanho 3000 da coluna `height` obtida com a função `get_sample()`, execute o teste de normalidade de Shapiro-Wilk com a função `scipy.stats.shapiro()`. Podemos afirmar que as alturas são normalmente distribuídas com base nesse teste (ao nível de significância de 5%)? Responda com um boolean (`True` ou `False`).

In [6]:
def q1():
    sample = get_sample(athletes,'height',3000)
    shapiro = sct.shapiro(sample)

    return bool(shapiro[1] >= 0.05)
    # Retorne aqui o resultado da questão 1.
    pass

__Para refletir__:

* Plote o histograma dessa variável (com, por exemplo, `bins=25`). A forma do gráfico e o resultado do teste são condizentes? Por que?
* Plote o qq-plot para essa variável e a analise.
* Existe algum nível de significância razoável que nos dê outro resultado no teste? (Não faça isso na prática. Isso é chamado _p-value hacking_, e não é legal).

## Questão 2

Repita o mesmo procedimento acima, mas agora utilizando o teste de normalidade de Jarque-Bera através da função `scipy.stats.jarque_bera()`. Agora podemos afirmar que as alturas são normalmente distribuídas (ao nível de significância de 5%)? Responda com um boolean (`True` ou `False`).

In [7]:
def q2():
    sample = get_sample(athletes,'height',3000)
    jarque_bera = sct.jarque_bera(sample)
    # Retorne aqui o resultado da questão 2.
    return bool(jarque_bera[1] >= .05)
    pass

__Para refletir__:

* Esse resultado faz sentido?

## Questão 3

Considerando agora uma amostra de tamanho 3000 da coluna `weight` obtida com a função `get_sample()`. Faça o teste de normalidade de D'Agostino-Pearson utilizando a função `scipy.stats.normaltest()`. Podemos afirmar que os pesos vêm de uma distribuição normal ao nível de significância de 5%? Responda com um boolean (`True` ou `False`).

In [8]:
def q3():
    sample = get_sample(athletes,'weight',3000)
    normaltest = sct.normaltest(sample)
    return bool(normaltest[1] >= .05)
    # Retorne aqui o resultado da questão 3.
    pass

__Para refletir__:

* Plote o histograma dessa variável (com, por exemplo, `bins=25`). A forma do gráfico e o resultado do teste são condizentes? Por que?
* Um _box plot_ também poderia ajudar a entender a resposta.

## Questão 4

Realize uma transformação logarítmica em na amostra de `weight` da questão 3 e repita o mesmo procedimento. Podemos afirmar a normalidade da variável transformada ao nível de significância de 5%? Responda com um boolean (`True` ou `False`).

In [9]:
def q4():
    sample = np.log(get_sample(athletes,'weight',3000))
    normaltest = sct.normaltest(sample)
    return bool(normaltest[1] >= .05)
    # Retorne aqui o resultado da questão 4.
    pass

__Para refletir__:

* Plote o histograma dessa variável (com, por exemplo, `bins=25`). A forma do gráfico e o resultado do teste são condizentes? Por que?
* Você esperava um resultado diferente agora?

> __Para as questão 5 6 e 7 a seguir considere todos testes efetuados ao nível de significância de 5%__.

## Questão 5

Obtenha todos atletas brasileiros, norte-americanos e canadenses em `DataFrame`s chamados `bra`, `usa` e `can`,respectivamente. Realize um teste de hipóteses para comparação das médias das alturas (`height`) para amostras independentes e variâncias diferentes com a função `scipy.stats.ttest_ind()` entre `bra` e `usa`. Podemos afirmar que as médias são estatisticamente iguais? Responda com um boolean (`True` ou `False`).

In [10]:
#necessarios para as questões a seguir

alpha = 0.05
df_br = athletes.loc[athletes['nationality'] == 'BRA', 'height'].dropna()
df_usa = athletes.loc[athletes['nationality'] == 'USA', 'height'].dropna()
df_ca = athletes.loc[athletes['nationality'] == 'CAN', 'height'].dropna()

In [11]:
def q5():
    return bool(sct.ttest_ind(df_br,df_usa, equal_var=False)[1] >= alpha)
    # Retorne aqui o resultado da questão 5.
    pass

## Questão 6

Repita o procedimento da questão 5, mas agora entre as alturas de `bra` e `can`. Podemos afimar agora que as médias são estatisticamente iguais? Reponda com um boolean (`True` ou `False`).

In [12]:
def q6():
    return bool(sct.ttest_ind(df_br,df_ca, equal_var=False)[1] >= alpha)
    # Retorne aqui o resultado da questão 6.
    pass

## Questão 7

Repita o procedimento da questão 6, mas agora entre as alturas de `usa` e `can`. Qual o valor do p-valor retornado? Responda como um único escalar arredondado para oito casas decimais.

In [13]:
def q7():
    return float(round(sct.ttest_ind(df_ca,df_usa, equal_var=False)[1],8))
    # Retorne aqui o resultado da questão 7.
    pass

__Para refletir__:

* O resultado faz sentido?
* Você consegue interpretar esse p-valor?
* Você consegue chegar a esse valor de p-valor a partir da variável de estatística?